//Reboot before grid settings
@import "./bootstrap-reboot.scss";
$breakpoints: (
  "xs": 0px,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
) !default;

@mixin generate-variable($name, $value) {
  --#{$name}: #{$value};
}
@mixin generate-breakpoints($breakpoints) {
  :root {
    @each $name, $value in $breakpoints {
      @include generate-variable($name, $value);
    }
  }
}
@include generate-breakpoints($breakpoints: $breakpoints);
//Then import bootstrap custom grid
$xs: map-get($breakpoints, "xs");
$sm: map-get($breakpoints, "sm");
$md: map-get($breakpoints, "md");
$lg: map-get($breakpoints, "lg");
$xl: map-get($breakpoints, "xl");
@import "./bootstrap-grid.scss";
